---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//colors
$highlight: #fff;
$complementary: #a9a9a9;

//layouts
html,body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.content {
  height: 100%;
  background: #0e1f33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

//components
.heading-lv1 {
  margin: 20px 0;
}

.heading-lv2 {
  font-size: 20px;
  margin: 10px 0;
  color: $highlight;
}

.paragraph {
  margin: 5px 0;
  max-width: 800px;
  width: 100%;
  color: $complementary;
}

.strong {
  color: $highlight;
}

.btn {
  border: 1px solid $highlight;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: $highlight;
  margin: 20px 0;
  transition: color .3s, background .3s;
}

.btn:hover {
  color: #0e1f33;
  background: $highlight;
}
